<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教师课程</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../../assets//plugins/bootstrap/css/bootstrap.min.css">

    <!-- Font CSS -->
    <link rel="stylesheet" href="../../css/all_icons.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../../css/kavach.min.css">

    <link rel="stylesheet" href="css/teacher.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h3>老师,您好！</h3>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="widget list-widget course-list" id="course-list">
                    <div class="card-header">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                            <i class="ti-more"></i>
                                        </button>
                                <ul class="dropdown-menu pull-right animated flipInX">
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                        <h4 class="card-title m-b-0">今日课程</h4>
                    </div>
                    <div class="row mrg-0">
                        <div class="enter-todo">
                            <div class="todo-content-title">
                                <h3 style="margin: 0px auto;">HSK1教程</h3>
                            </div>
                            <div class="todo-content-info">
                                <p style="margin: 0px auto;">开始时间：11:00,时长：1h</p>
                            </div>
                            <div class="todo-content">
                                <button class="btn btn-user btn-round btn-success enter-classroom">进入教室</button>
                            </div>
                        </div>
                        <div class="todo-list todo-list-hover todo-list-divided">
                            <div class="todo todo-default">
                                <div class="sm-avater list-avater">
                                    <img src="http://via.placeholder.com/500x500" class="img-responsive img-circle" alt="" />
                                    <span class="user-status bage-warning"></span>
                                </div>
                                <h5 class="ct-title">HSK1教程<span class="ct-designation">开始时间：7:00,时长：1h</span></h5>
                                <div class="badge badge-action">
                                    <a href="#" class="btn btn-user btn-default btn-round ">课程已结束</a>
                                </div>
                            </div>
                            <div class="todo todo-default">
                                <div class="sm-avater list-avater">
                                    <img src="http://via.placeholder.com/500x500" class="img-responsive img-circle" alt="" />
                                    <span class="user-status bage-danger"></span>
                                </div>
                                <h5 class="ct-title">HSK1教程<span class="ct-designation">开始时间：9:00,时长：1h</span></h5>
                                <div class="badge badge-action">
                                    <a href="#" class="btn btn-user btn-round btn-default">课程已结束</a>
                                </div>
                            </div>
                            <div class="todo todo-default">
                                <div class="sm-avater list-avater">
                                    <img src="http://via.placeholder.com/500x500" class="img-responsive img-circle" alt="" />
                                    <span class="user-status bage-success"></span>
                                </div>
                                <h5 class="ct-title">HSK1教程<span class="ct-designation">开始时间：13:00,时长：1h</span></h5>
                                <div class="badge badge-action">
                                    <a href="#" class="btn btn-user btn-default btn-round">等待开课</a>
                                </div>
                            </div>
                            <div class="todo todo-default">
                                <div class="sm-avater list-avater">
                                    <img src="http://via.placeholder.com/500x500" class="img-responsive img-circle" alt="" />
                                    <span class="user-status bage-warning"></span>
                                </div>
                                <h5 class="ct-title">HSK1教程<span class="ct-designation">开始时间：15:00,时长：1h</span></h5>
                                <div class="badge badge-action">
                                    <a href="#" class="btn btn-user btn-round btn-default">等待开课</a>
                                </div>
                            </div>
                            <div class="todo todo-default">
                                <div class="sm-avater list-avater">
                                    <img src="http://via.placeholder.com/500x500" class="img-responsive img-circle" alt="" />
                                    <span class="user-status bage-warning"></span>
                                </div>
                                <h5 class="ct-title">HSK1教程<span class="ct-designation">开始时间：17:00,时长：1h</span></h5>
                                <div class="badge badge-action">
                                    <a href="#" class="btn btn-user btn-round btn-default">等待开课</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- jQuery -->
<script src="../../assets/plugins/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../assets/plugins/bootstrap/js/bootstrap.min.js"></script>


</html>