<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../../assets//plugins/bootstrap/css/bootstrap.min.css">

    <!-- studentList -->
    <link rel="stylesheet" href="./css/studentList.css">
</head>

<body>
    <ul>
        <li>student1</li>
        <li>student2</li>
        <li>student3</li>
        <li>student4</li>
        <li>student5</li>
        <li>student6</li>
        <li>student7</li>
        <li>student8</li>
        <li>student9</li>
        <li>student10</li>
        <li>student11</li>
        <li>student12</li>
        <li>student13</li>
        <li>student14</li>
        <li>student15</li>
        <li>student16</li>
    </ul>
</body>

</html>