header {
    height: 45px;
    box-shadow: 0 15px 15px rgba(15, 37, 64, 0.1);
    background: #fff;
}

.education-module {
    margin-top: 45px;
    margin-bottom: 25px;
}

.education-module .card-body {
    padding: 0px;
    /* height: 22.5rem; */
}

.teacher-video {
    width: 100%;
    height: 100%;
}

.blackboard .card {
    height: 100%;
}

.blackboard .card-body img {
    width: 100%;
}

.card-body {
    /* width: 600px; */
}

.swiper-container {
    width: 100%;
    height: 10.5rem;
    padding: 15px;
    background: rgba(255, 255, 255, 0.582);
    display: flex;
    /*Flex布局*/
    display: -webkit-flex;
    /* Safari */
    align-items: center;
    /*指定垂直居中*/
}

.swiper-slide {
    width: 13.5rem;
    /* height: 80%; */
    background-color: #262626;
    /* border-radius: 10%; */
}

.swiper-slide:hover {}

video {
    width: 100%;
    height: 245px;
    background: #000;
}

video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.video-container,
.material-container {
    /* background-color:#000; */
    /* height:600px; */
    overflow: hidden;
}

.teacher-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tab .nav-tabs li a {
    padding: 10px;
}


/* .tab-content .simple-tabs {
    height: 100%;
    padding: 0px;
} */

#section-tabs {
    width: 100%;
    /* height: 260px; */
    margin: 0 auto;
}

#StudentList {
    min-height: 155px;
    overflow-y: auto;
    max-height: 200px;
}

#chatPanel {
    position: relative;
}

.chatBody {
    min-height: 110px;
    overflow-y: auto;
    max-height: 155px;
}

#TodayFocus {
    min-height: 155px;
    overflow-y: auto;
    max-height: 200px;
}

.chatFooter {
    /* position: absolute;
    bottom: 0; */
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    width: 100%;
}

.chatFooter input {
    height: 34px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px;
}

.icon {
    width: 30px;
}


/* #myTimeline {
    position: fixed;
    bottom: 0px;
} *