.navbar {
    box-shadow: 0 15px 15px rgba(15, 37, 64, 0.1);
    margin-bottom: 35px;
    
}
.container-fluid{
    margin-top: 55px;
}

.education-module {
    margin-top: 35px;
    margin-bottom: 25px;

}

.education-module .card-body {
    padding: 0px;
    /* height: 22.5rem; */
}

.teacher-video {
    width: 100%;
    height: 100%;
}

.blackboard .card {
    height: 100%;
}

.blackboard .card-body img {
    width: 100%;
    height: 600px;
}
.card-body{
    /* width: 600px; */
}

.swiper-container {
    width: 100%;
    height: 10.5rem;
    padding: 15px;
    background: rgba(255, 255, 255, 0.582);
    display: flex;
    /*Flex布局*/
    display: -webkit-flex;
    /* Safari */
    align-items: center;
    /*指定垂直居中*/
}

.swiper-slide {
    width: 13.5rem;
    /* height: 80%; */
    background-color: #262626;
    /* border-radius: 10%; */
}
.swiper-slide:hover{
}
iframe{
    width: 100%;
    height: 245px;
}
iframe{ 
    border:0;
    font:inherit; 
    font-size:100%; 
    margin:0; 
    padding:0; 
    vertical-align:baseline;
}
.video-container,.material-container {
    /* background-color:#000; */
    /* height:600px; */
    overflow: hidden;
}
.teacher-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.tab-info{}