.container-fluid {
    padding: 0px;
}

header {
    height: 45px;
    box-shadow: 0 15px 15px rgba(15, 37, 64, 0.1);
    background: #ffffff;
}

footer {
    /* position: absolute; */
    /* bottom: 3px; */
    width: 100%;
}

.education-module {
    margin-top: 45px;
    margin-bottom: 25px;
}

.education-module .card-body {
    padding: 0px;
    /* height: 22.5rem; */
    height: 40rem;
    background-color: #e4e4e4;
}

.teacher-video {
    width: 100%;
    height: 100%;
}

.blackboard .card {
    height: 100%;
}

video {
    width: 100%;
    height: 15rem;
    background: #000;
}

video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.teacher-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.tab .nav-tabs li {
    width: 33%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
}

.tab .nav-tabs li a {
    text-align: center;
    width: 100%;
}


/* .tab-content .simple-tabs {
    height: 100%;
    padding: 0px;
} */

#section-tabs {
    width: 100%;
    /* height: 260px; */
    margin: 0 auto;
}

#StudentList {
    min-height: 23rem;
    overflow-y: auto;
    max-height: 23rem;
    padding: 15px;
    background: #fdfdfd;
}

#chatPanel {
    position: relative;
}

.chatBody {
    padding: 25px;
    min-height: 18rem;
    overflow-y: auto;
    max-height: 18rem;
    background: #fdfdfd;
    border-bottom: 1px solid #f6f6f6;
}

#TodayFocus {
    background: #fdfdfd;
    padding: 15px;
    min-height: 23rem;
    overflow-y: auto;
    max-height: 23rem;
}

.chatFooter {
    /* position: absolute;
    bottom: 0; */
    margin: 0px;
    padding: 0px;
    height: 50px;
    background-color: #fff;
    line-height: 50px;
    width: 100%;
    text-align: center;
}

.chatFooter input {
    width: 70%;
    height: 34px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 15px;
}

.icon {
    width: 30px;
}

.text-img {
    height: 60%;
}


/* #myTimeline {
    position: fixed;
    bottom: 0px;
} *