@media only screen and (max-width: 479px) {
    .tab-info {
        display: none
    }
    .course_nr li {
        width: 60px;
    }
    .text-img {
        height: 60%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .tab-info {
        display: none
    }
    .course_nr li {
        width: 60px;
    }
    .text-img {
        height: 60%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .tab-info {
        display: none
    }
    .course_nr li {
        width: 60px;
    }
    .text-img {
        height: 60%;
    }
}

@media only screen and (min-width: 959px) and (max-width: 1695px) {
    .course_nr li {
        width: 80px;
    }
    .text-img {
        height: 60%;
    }
}


@media screen and (max-height:736px){
    footer,.course{
        display: none;    
    }

}
/* @media screen and (min-height:538px) and (max-height:667px){
    .material-container .card-body {
        height: 20rem;
    }
} */
@media screen and (min-height:667px) and (max-height:736px){
    .material-container .card-body {
        height: 32rem;
    }
    
}
@media screen and (min-height:750px) and (max-height:800px){
    .material-container .card-body {
        height: 42rem;
    }
    
    #StudentList {
        min-height: 26rem;
        overflow-y: auto;
        max-height: 26rem;
        padding: 15px;
        background: #fdfdfd;
    }

    .chatBody {
        padding: 25px;
        min-height: 21rem;
        overflow-y: auto;
        max-height: 21rem;
        background: #fdfdfd;
        border-bottom: 1px solid #f6f6f6;
    }

    #TodayFocus {
        background: #fdfdfd;
        padding: 15px;
        min-height: 26rem;
        overflow-y: auto;
        max-height: 26rem;
    }
}
@media screen and (min-height:800px) and (max-height:850px){
    .material-container .card-body {
        height: 47rem;
    }
    #StudentList {
        min-height: 30rem;
        overflow-y: auto;
        max-height: 30rem;
        padding: 15px;
        background: #fdfdfd;
    }

    .chatBody {
        padding: 25px;
        min-height: 25rem;
        overflow-y: auto;
        max-height: 25rem;
        background: #fdfdfd;
        border-bottom: 1px solid #f6f6f6;
    }

    #TodayFocus {
        background: #fdfdfd;
        padding: 15px;
        min-height: 30rem;
        overflow-y: auto;
        max-height: 30rem;
    }
}
@media screen and (min-height:850px) and (max-height:900px){
    .material-container .card-body {
        height: 52rem;
    }
    #StudentList {
        min-height: 35rem;
        overflow-y: auto;
        max-height: 35rem;
        padding: 15px;
        background: #fdfdfd;
    }

    .chatBody {
        padding: 25px;
        min-height: 30rem;
        overflow-y: auto;
        max-height: 30rem;
        background: #fdfdfd;
        border-bottom: 1px solid #f6f6f6;
    }

    #TodayFocus {
        background: #fdfdfd;
        padding: 15px;
        min-height: 35rem;
        overflow-y: auto;
        max-height: 35rem;
    }
}
@media screen and (min-height:900px) and (max-height:959px){
    .material-container .card-body {
        height: 55rem;
    }
    #StudentList {
        min-height: 39rem;
        overflow-y: auto;
        max-height: 39rem;
        padding: 15px;
        background: #fdfdfd;
    }

    .chatBody {
        padding: 25px;
        min-height: 34rem;
        overflow-y: auto;
        max-height: 34rem;
        background: #fdfdfd;
        border-bottom: 1px solid #f6f6f6;
    }

    #TodayFocus {
        background: #fdfdfd;
        padding: 15px;
        min-height: 39rem;
        overflow-y: auto;
        max-height: 39rem;
    }
}
@media screen and (min-height:959px) and (max-height:1024px){
    .material-container .card-body {
        height: 52rem;
    }
    #StudentList {
        min-height: 35rem;
        overflow-y: auto;
        max-height: 35rem;
        padding: 15px;
        background: #fdfdfd;
    }

    .chatBody {
        padding: 25px;
        min-height: 30rem;
        overflow-y: auto;
        max-height: 30rem;
        background: #fdfdfd;
        border-bottom: 1px solid #f6f6f6;
    }

    #TodayFocus {
        background: #fdfdfd;
        padding: 15px;
        min-height: 35rem;
        overflow-y: auto;
        max-height: 35rem;
    }
}