.course h1 {
    font-weight: normal;
    font-size: 12px;
}

.course ul,
dl {
    list-style-type: none;
}

.course li {
    vertical-align: top;
}

.course {
    height: auto;
    background: #FFF;
}

.course i {
    color: #b4c4d7;
}

.course_nr li {
    float: right;
    width: 30px;
    text-align: center;
    position: relative;
}

.shiji {
    position: absolute;
    width: 100%;
    left: 0;
    top: -20px;
    display: none;
}

.shiji h1 {
    height: 67px;
    line-height: 67px;
    color: #518dbb;
    font-weight: bold;
    background: url(ico11.gif) no-repeat center top;
    margin-bottom: 8px;
}